/* color-padrao = #4CC94B */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: #222630;
  font-family: 'Poppins', sans-serif;
}
.separador {
  width: 100%;
  height: 50px;
  border-bottom: 1px solid white;
}
.container-site {
  display: flex;
  justify-content: center;
  background-color: #222630;
  color: #fff;
}
aside {
  /* width: 400px; */
  background: transparent;
}
aside label {
  position: fixed;
}
aside img {
  width: 100px;
}
.conteudo {
  max-width: 960px;
  margin: 10px auto;
}
.descricao {
  display: flex;
  gap: 50px;
  justify-content: center;
  align-items: center;
}
.apresentacao {
  max-width: 600px;
}
.apresentacao h2 {
  font-size: 95px;
}
.apresentacao .destaque {
  color: #4cc94b;
}

audio {
  width: 141px;
}
.img-disco {
  width: 44px;
  position: absolute;
  z-index: 2;
  margin-left: 82px;
  margin-top: 5px;
  background: white;
  border-radius: 50%;
}

.card-contatos {
  border: 1px solid white;
  border-radius: 8px;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  padding: 30px 100px;
  gap: 20px;
}
.card-contatos input {
  background: white;
  border: none;
  padding: 6px 10px;
  border-radius: 6px;
}
.card-contatos textarea {
  background: white;
  border: none;
  border-radius: 8px;
  padding: 6px 10px;
}
.card-contatos button {
  background: #4cc94b;
}

.redes-sociais ul {
  margin: 40px 0;
  display: flex;
  gap: 15px;
  justify-content: flex-end;
}
.redes-sociais ul li {
  list-style: none;
}
.redes-sociais img {
  width: 30px;
  height: 30px;
  border-radius: 15px;
}
.areas-externas {
  display: flex;
  gap: 15px;
  justify-content: flex-end;
}
button,
.saiba-mais {
  padding: 10px 30px;
  border-radius: 8px;
  border: none;
  color: white;
  font-size: 18px;
  font-weight: 600;
}

.saiba-mais {
  background: #4cc94b;
}
.saiba-mais:hover {
  color: white;
}

.contato {
  border: 1px solid white;
  background: transparent;
}
.contato:hover {
  text-decoration: underline;
}

.mais-ouvidas {
  display: flex;
  align-items: center;
}
.mais-ouvidas img {
  width: 100px;
}

.lista-musicas {
  margin: 50px 0;
}
.lista-musicas ul li {
  list-style: none;
  margin-top: 15px;
}
.lista-musicas h3 {
  font-size: 48px;
}

.footer {
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer img {
  width: 100%;
  object-fit: cover;
  height: 200px;
  opacity: 0.4;
}
.creditos {
  color: white;
  position: absolute;
  font-size: 18px;
  font-weight: 800;
  background: transparent;
  z-index: 3;
}
.creditos p {
  background: transparent;
}
.creditos a {
  color: #4cc94b;
  text-decoration: none;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
  cursor: pointer;
}

/* menu */

.sidebar {
  position: fixed;
  width: 240px;
  left: -240px;
  height: 100%;
  background: transparent;
  transition: all 0.5s ease;
}
.sidebar header {
  font-size: 28px;
  color: white;
  line-height: 70px;
  text-align: center;
  background: #1b1b1b;
  user-select: none;
}
.sidebar a {
  display: block;
  height: 65px;
  width: 100%;
  color: white;
  line-height: 65px;
  padding-left: 30px;
  box-sizing: border-box;
  border-bottom: 1px solid black;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  border-left: 5px solid transparent;
  transition: all 0.5s ease;
}

a.active,
a.hover {
  border-left: 5px solid #593632;
}
#check {
  display: none;
}
label #btn,
label #cancel {
  position: absolute;
  cursor: pointer;
  color: white;
  border-radius: 5px;
  border: 1px solid #262626;
  margin: 15px 30px;
  font-size: 28px;
  height: 60px;
  width: 60px;
  text-align: center;
  line-height: 45px;
  transition: all 0.5s ease;
}

label #cancel {
  opacity: 0;
  visibility: hidden;
}
#check:checked ~ .sidebar {
  left: 0;
}
#check:checked ~ label #btn {
  margin-left: 245px;
  opacity: 0;
  visibility: hidden;
}
#check:checked ~ label #cancel {
  margin-left: 245px;
  opacity: 1;
  visibility: visible;
}
section {
  padding: 50px 0;
}

.carousel {
  display: block;
  text-align: left;
  position: relative;
  margin-bottom: 22px;
}
.carousel > input {
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  width: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}
.carousel
  > input:nth-of-type(6):checked
  ~ .carousel__slides
  .carousel__slide:first-of-type {
  margin-left: -500%;
}
.carousel
  > input:nth-of-type(5):checked
  ~ .carousel__slides
  .carousel__slide:first-of-type {
  margin-left: -400%;
}
.carousel
  > input:nth-of-type(4):checked
  ~ .carousel__slides
  .carousel__slide:first-of-type {
  margin-left: -300%;
}
.carousel
  > input:nth-of-type(3):checked
  ~ .carousel__slides
  .carousel__slide:first-of-type {
  margin-left: -200%;
}
.carousel
  > input:nth-of-type(2):checked
  ~ .carousel__slides
  .carousel__slide:first-of-type {
  margin-left: -100%;
}
.carousel
  > input:nth-of-type(1):checked
  ~ .carousel__slides
  .carousel__slide:first-of-type {
  margin-left: 0%;
}
.carousel
  > input:nth-of-type(1):checked
  ~ .carousel__thumbnails
  li:nth-of-type(1) {
  box-shadow: white;
}
.carousel
  > input:nth-of-type(2):checked
  ~ .carousel__thumbnails
  li:nth-of-type(2) {
  box-shadow: white;
}
.carousel
  > input:nth-of-type(3):checked
  ~ .carousel__thumbnails
  li:nth-of-type(3) {
  box-shadow: white;
}
.carousel
  > input:nth-of-type(4):checked
  ~ .carousel__thumbnails
  li:nth-of-type(4) {
  box-shadow: white;
}
.carousel
  > input:nth-of-type(5):checked
  ~ .carousel__thumbnails
  li:nth-of-type(5) {
  box-shadow: white;
}
.carousel
  > input:nth-of-type(6):checked
  ~ .carousel__thumbnails
  li:nth-of-type(6) {
  box-shadow: white;
}
.carousel__slides {
  position: relative;
  z-index: 1;
  padding: 0;
  margin: 0;
  overflow: hidden;
  white-space: nowrap;
  box-sizing: border-box;
  display: flex;
}
.carousel__slide {
  position: relative;
  display: block;
  flex: 1 0 100%;
  width: 100%;
  height: 100%;
  overflow: hidden;
  transition: all 300ms ease-out;
  vertical-align: top;
  box-sizing: border-box;
  white-space: normal;
}
.carousel__slide figure {
  display: flex;
  margin: 0;
}
.carousel__slide div {
  position: relative;
  width: 100%;
}
.carousel__slide div:before {
  display: block;
  content: '';
  width: 100%;
  padding-top: 66.6666666667%;
}
.carousel__slide div > img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.carousel__slide img {
  display: block;
  flex: 1 1 auto;
  object-fit: cover;
}
.carousel__slide figcaption {
  align-self: flex-end;
  padding: 20px 20px 0 20px;
  flex: 0 0 auto;
  width: 25%;
  min-width: 150px;
}
.carousel__slide .credit {
  margin-top: 1rem;
  color: #4cc94b;
  display: block;
}
.carousel__slide.scrollable {
  overflow-y: scroll;
}
.carousel__thumbnails {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  margin: 0 -10px;
}
.carousel__slides + .carousel__thumbnails {
  margin-top: 20px;
}
.carousel__thumbnails li {
  flex: 1 1 auto;
  max-width: calc((100% / 6) - 20px);
  margin: 0 10px;
  transition: all 300ms ease-in-out;
}
.carousel__thumbnails label {
  display: block;
  position: relative;
}
.carousel__thumbnails label:before {
  display: block;
  content: '';
  width: 100%;
  padding-top: 100%;
}
.carousel__thumbnails label > img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}
.carousel__thumbnails label:hover,
.carousel__thumbnails label:focus {
  cursor: pointer;
}
.carousel__thumbnails label:hover img,
.carousel__thumbnails label:focus img {
  box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.25);
  transition: all 300ms ease-in-out;
}
.carousel__thumbnails img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (max-width: 800px) {
  .descricao {
    flex-wrap: wrap;
  }
  .card-contatos {
    padding: 30px;
  }
  .apresentacao,
  .redes-sociais,
  .areas-externas,
  .lista-musicas {
    padding: 0 30px;
  }
  .card-contatos {
    margin: 20px;
  }
  .carousel {
    max-width: 380px;
  }
}

/* email sucesso */

.container-email {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  height: 100vh;
  flex-direction: column;
  gap: 50px;
}
.container-email p {
  font-size: 24px;
}
.voltar-home {
  background: #4cc94b;
  font-size: 18px;
  font-weight: 600;
  border-radius: 8px;
  padding: 10px 15px;
  color: #fff;
  text-decoration: none;
}
.voltar-home:hover {
  transform: scale(1.1);
}

/* @media (max-width: 860px) {
  .sidebar {
    height: auto;
    width: 70px;
    left: 0;
    margin: 100px 0;
  }
  header,
  #btn,
  #cancel {
    display: none;
  }
}
span {
  position: absolute;
  margin-left: 23px;
  opacity: 0;
  visibility: hidden;
}
.sidebar a {
  height: 60px;
}
.sidebar a i {
  margin-left: -10px;
}
a:hover {
  width: 200px;
  background: inherit;
}
.sidebar a:hover span {
  opacity: 1;
  visibility: visible;
} */
